body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
nav>ul{
   margin: 0;
   padding: 0;
   display:inline-block ;   
}

ul{
    list-style: none;
    display: none;
    }


.bdd:hover .tp{
    display: block;
    
    

}
.PHP:hover .tp{
    display: block;

}
.bdd:hover .tp{
    display: block;

}
.java:hover .tp{
    display: block;

}
.hc:hover .tp{
    display: block;

}
.mission:hover .tp{
    display: block;
}
.certification:hover .tp{
    display: block;

}


.menu input{
    display: none;
}
.menu p{
    display: none;
}
nav{
    background-color: blueviolet;
    
}
a{
    text-decoration: none;
    color: white;
    margin: 50px;
}
nav>ul>ul{
    position: absolute;
    border-top: 5px solid purple;
    background-color: rgba(228, 77, 38, 0.15);
}

