body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #1275df;
}
h1{
    color: rgb(31, 0, 169);
}
form{
    background-color: aliceblue;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.2)
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="texte"], input[type="email"],textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid#ccc;
    border-radius: 3px;
}
input[type="button"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: red;
}
.lien-retour {
    margin-top: 20px;
    text-align: center; 
}

.lien-retour a {
    font-size: 16px;
    color: #0073e6; /
    text-decoration: none;
}
.lien-retour a:hover {
    text-decoration: underline; 
}
